* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 375px;
    height: 667px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 80px;
    font-size: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 21px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.header>img {
    width: 75px;
    height: 53px;
}

.messages {
    margin-top: 20px;
    font-size: 14px;
    overflow-y: scroll;
}

.messages>li {
    padding: 11px;
    margin-bottom: 4px;
}

.messages>li>span.timestamp {
    color: #aaaaaa;
}

.messages>li.message {
    background-color: #ffffff;
}

.messages>li.private_message {
    background-color: #ffdede;
}

.messages>li.status {
    background-color: #dcdcdc;
}

.user {
    font-weight: bold;
}

.footer {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
}

.footer>input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    margin-left: 17px;
    font-style: italic;
    outline: none;
}

.footer>ion-icon {
    font-size: 35px;
    margin-right: 15px;
}

.messages {
    height: 100%;
}